body{
  color:#EC407A;
  background: linear-gradient(#E0EAFC, #FCE4EC);
  font-size:20px;
  }

  .title {
    display: flex;
    overflow: hidden;
    color:#A1637A;
    font-family: 'Josefin Sans', sans-serif;
  }